.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding: 25px;
}
.display {
    margin: 25px auto 0 auto;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }

  .number-button{
      background-color: #123C78;
      border-radius: 50%;
      border: none;
      height: 85px;
      width: 85px;
      color: white;
      font-size: 24px;
      margin: 15px 5px 15px 5px;
      box-shadow: 0 3px black;
  }

   .number-button:nth-of-type(10){
       width: 180px;
       border-radius: 85px;
   }

  .number-container{
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      width: 100%;
  }

    .special-button{
      background-color: #2061B0;
      border-radius: 50%;
      border: none;
      height: 85px;
      width: 85px;
      color: white;
      font-size: 24px;
      margin: 15px 5px 15px 5px;
      box-shadow: 0 3px black;
  }

  .special-container{
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      width: 100%;
  }

    .operator-button{
      background-color: #3DB5E5;
      border-radius: 50%;
      border: none;
      height: 85px;
      width: 85px;
      color: white;
      font-size: 24px;
      margin: 15px 0px 15px 0px;
      box-shadow: 0 3px black;
  }
  .operator-container{
      display: inline-block;
      flex-wrap: wrap;
      height: 100%;
      width: 35%;
  }

  .specials-and-numbers{
      display: flex;
      flex-direction: column;
      width: 90%;
  }

  .all-buttons{
      display: flex;
      justify-content: space-around;
      width: 75%;
      margin: auto;
  }

